h1 {
  text-align: center;
}
form {
  width: max-content;
  margin-inline: auto;
  text-align: center;
}
.box-one {
  text-align: center;
}
input {
  margin-bottom: 10px;
}
label {
  display: block;
}
#checkbox-section label {
  display: inline-block;
}
button {
  margin-top: 15px;
}
