@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
#main {
    width: 100%;
}
#content {
    height: 100%;
}
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-icon {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-icon p {
    margin: 0;
}
.sidebar-icons ion-icon {
font-size: 1.5em;
}

#topbar {
    width: 100%;
    height: 8vh;
    display: flex;
    
    
}
#logo {
    height: 50%;
}

#search-wrapper {
    display: flex;
    height: 50%;
    
}
#topbar-icon {
    display: flex;
}
.topbar-icon ion-icon {
    font-size: 2em;
    padding: 0 0.3em;
}